{
  "log": {
    "_recordingName": "test endpoint/should return products for POST request",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ee78cb48982b42d84dc7d7d8d1b0a285",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "query": "{\n      products(first: 5, channel: \"default-channel\") {\n        edges {\n          node {\n            id\n            name\n            description\n          }\n        }\n      }\n    }"
            }
          },
          "queryString": [],
          "url": "https://demo.saleor.io/graphql/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1287,
            "text": {
              "data": {
                "products": {
                  "edges": [
                    {
                      "node": {
                        "description": "{\"time\": 1660756037554, \"blocks\": [{\"id\": \"0\", \"data\": {\"text\": \"\"}, \"type\": \"paragraph\"}], \"version\": \"2.23.1\"}",
                        "id": "UHJvZHVjdDoxOTY=",
                        "name": "1970-1982"
                      }
                    },
                    {
                      "node": {
                        "description": "{\"time\": 1660756064934, \"blocks\": [{\"id\": \"0\", \"data\": {\"text\": \"\"}, \"type\": \"paragraph\"}], \"version\": \"2.23.1\"}",
                        "id": "UHJvZHVjdDoxOTg=",
                        "name": "[...]
